<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">sgp_user</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/sgpdev</property>
        <property name="hibernate.connection.username">sgpadm</property>
        <mapping resource="com/dsdsoft/sgp/modelo/Actividad.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/CasoSoporte.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/TipoActividad.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/Requerimiento.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/Rol.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/EstadoProyecto.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/Usuario.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/Parametro.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/EstadoHistoriaUsuario.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/Cliente.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/ProyectoUsuarioRol.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/Proyecto.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/SeguimientoCaso.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/HistoriaDeUsuario.hbm.xml" />
        
<!--         DPL 28 de Mayo de 2017 adiciones para ubicacion del cliente -->
        <mapping resource="com/dsdsoft/sgp/modelo/Departamento.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/Pais.hbm.xml" />
        <mapping resource="com/dsdsoft/sgp/modelo/Ciudad.hbm.xml" />
    </session-factory>
</hibernate-configuration>
